<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <title> Desafio Octos </title>
  <meta name="description" content="Desenvolvimento de um sistema web para cadastro de câmeras.">
  <meta name="author" content="Larissa Bral">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>
 <body id="main-page">
  
   <header id="octos-header">
     <center>
	<img src="{% static 'img/logo.png' %}" alt="Logo">
     </center>
     <nav id="main-nav">
       <ul>
         <li><a class="main-btn btn-green" href="{% url 'desafio:add' %}">Adicionar câmera</a></li>
         <li><a class="main-btn btn-orange" href="{% url 'desafio:list' %}">Listar câmeras</a></li>
         <li><a class="main-btn btn-pink" href="{% url 'desafio:remove' %}">Remover câmera</a></li>
       </ul>
      </nav>
    </header>
  	   
 </body>
</html>