<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <title> Remover câmera </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
 <body id="page"> 
   <header id="octos-header">
     <center>
	<img src="{% static 'img/logo.png' %}" alt="Logo">
     </center>
     <div class="titulo">
        Remover câmera <br>
     </div>
     <button class="btn-page btn-back"><a href="{% url 'desafio:index' %}" style="text-decoration:none"> < Voltar</a></button>
     
   </header>
   <br><br>
   <nav id="instaled-cameras">
   <ul>
      
      <li>   
      <span> 
    	<table class="tabela" >
  	    <tr>
	        <td>Nome</td>
	        <td>Fabricante</td>
	        <td>Número de Série</td>
                <td>Remover Câmera</td>
	    </tr>

	    <tr>
	    {% for obj in object_list %}
	        <td>{{ obj.nome }} </td>
	        <td>{{ obj.fabricante }}</td>
	        <td>{{ obj.serie }}</td>
                <td><a class ="btn btn-lg" href="{% url 'desafio:index' %}removeCamera/{{obj.id}}"><span>
                    <i class="glyphicon glyphicon-trash" style="color:red"></i></span></a>
                    </td>
	    </tr>
	    {% endfor%}
	</table> 
      </span>
      
      </li>
      
   </ul>
   </nav>
 </body>
</html>