/* Arquivo .css */



/*Estilo do body do arquivo index.html referente a pagina principal*/
#main-page {
    background-image: url('../img/gif.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1400px 800px;
  }

/*Estilo do body das paginas secundarias add, remove e list*/
#page {
 background-color:#187bf7;
}

/* Edicao dos links dos botoes da pagina principal, retirar topico de lista */
#main-nav ul{
 list-style-type:none;
}

/* Posicao em linha dos botoes*/
#main-nav ul li{
  display: inline;
}

/*Edicao do conteudo dos links dos botoes da pagina principal*/
#main-nav ul a {
 text-decoration: none;
 font-size: 16px;
 text-transform: uppercase;
 color: #3c555c;
 font-weight: 700;
}

/*Estilo dos botoes da pagina principal*/
.main-btn {
  border-radius: 12px;
  border: 4px solid #3c555c; 
  padding: 32px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right: 15px;
  font-size: 100px;
  width: 250px; 
  height: 190px;
  background-size: 80px;
  background-repeat: no-repeat;
  background-position: 80px 30px;
}

/*Mudanca do botao verde quando o cursor passa por cima, pagina principal*/
.btn-green:hover {
 background-color: #41a388;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Estilo do botao verde, pagina principal*/
.btn-green {
 background-color: #62d3bc;
 background-image:url("../img/add-video-camera.png");
}

/*Mudanca do botao laranja quando o cursor passa por cima, pagina principal*/
.btn-orange:hover {
 background-color: #cc8e63 ;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Estilo do botao laranja, pagina principal*/
.btn-orange {
 background-color:#f5c982;
 background-image:url("../img/list-video-camera.png");
}

/*Mudanca do botao rosa quando o cursor passa por cima, pagina principal*/
.btn-pink:hover {
 background-color: #d16675;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Estilo do botao rosa, pagina principal*/
.btn-pink {
 background-color: #f37fa3;
 background-image:url("../img/remove-video-camera.png");
}

/*Estilo dos botoes das paginas secundarias, botoes voltar e adicionar*/
.btn-page {
 list-style-type:none;
 font-size: 15px;
 text-transform: uppercase;
 font-weight: 700;
 background-color: #fff;
 border:3px solid #3c555c; 
 border-radius: 8px;
 text-decoration:none
}

/*Edicao do link do botao voltar*/
.btn-back a {
 color: #3c555c;
}

/*Mudanca dos botoes secundarios quando o cursor passa por cima*/
.btn-page:hover {
 background-color: #02a9b0;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Estilo doa titulos das paginas secundarias, acima do botao voltar*/
.titulo {
 color: #3c555c;
 font-size: 22px;
 font-weight: 700;
 text-transform: uppercase;
 margin-left: 20px;
}

/*Edicao do formulario de adicionar camera*/
.add-form{
 color: #3c555c;
 font-size: 20px;
 font-weight: 700;
 width:100%;
 margin-left: 200px;
}

/*Estilo dos campos texto e selecionar do formulario de adicionar camera*/
.add-form input[type=text], .add-form select{
 width:70%;
 height: 40px;
}

/*Edicao do botao de adicionar camera*/
.add-form input[type=submit]{
 cursor: pointer;
 margin-left: 422px;
}

/*Estilo da primeira linha das tabelas de listar camera e remover camera*/
.tabela tr:first-child{
 font-weight: bolder;
 font-size: 23px;
}

/*Estilo das linhas e colunas tabelas em listar camera e remover camera*/
.tabela, tr, td{
 border: 3px solid #3c555c;
 padding: 10px;
}

/*Estilo geral das tabelas em listar camera e remover camera*/
.tabela{
 color: #3c555c;
 font-size: 20px;
 background-color: #fff;
 width:80%;
 margin-left: 10%;
 border-collapse: collapse;
 text-align: center;
}

/*Retirar topico de lista de link da tabela de remover camera*/
#instaled-cameras ul{
 list-style-type:none;
}
