<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <title> Adicionar câmera </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 </head>
 <body id="page"> 
   <header id="octos-header">
     <center>
	<img src="{% static "img/logo.png" %}" alt="Logo">
     </center>
     <div class="titulo">
        Adicionar câmera <br>
     </div>
     {% if messages %}
     {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
     {% endfor %}
     {% endif %}
     <button class="btn-page btn-back"><a href="../" style="text-decoration:none"> < Voltar</a></button>
    <br>   
    <br>  
    <br>    
   </header>

{% load crispy_forms_tags %}
{% block content %}
{% if form %}
   <form class="add-form" method="post" action=""> 
        {% csrf_token %}
        {{ form|crispy }}
        <br><input type="submit" class="btn-page" name="btn-add" value="Adicionar">
   </form>
{% endif %}
{% endblock %}

 </body>
</html>