<!DOCTYPE html>
<html lang="pt-BR">
 <head>
  <meta charset="UTF-8">
  <title> Remover câmera </title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
 </head>
 <body id="page"> 
   <header id="octos-header">
     <center>
	<img src="{% static "img/logo.png" %}" alt="Logo">
     </center>
     <div class="titulo">
        Remover câmera <br>
     </div>
     <button class="btn-back"><a href="../" style="text-decoration:none"> < Voltar</a></button>
     
   </header>
  	   
 </body>
</html>